@charset "UTF-8";

.container-fluid a{
	text-decoration: none;
	color: black;
}
/* header */

.container-fluid .header .headerLogo{
	height: 75px; padding-left:25px; 
}

.container-fluid .header .mainMenu{
	background: #7286AF;
	/* background: linear-gradient(45deg, #ffffff, #00236F); */
	
}

.container-fluid .header .mainMenu .navbarItemWrapper .menuItem:hover{
	background: #7392d1;
	border-radius: 50% 20% / 10% 40%;
}

.container-fluid .header .mainMenu .navbarItemWrapper .menuItem a {
	font-size: 25px;
	color: #ffffff;
}

.container-fluid .header .menuDetail{
	background: #ffffff;
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
	z-index: 10000;
	transition-duration: 0.3s;
}

.container-fluid .header .menuDetail li{
	list-style: none;
	margin-bottom: 3px;
	font-size: 20px;
}

.collapse .subMenu>li{
	font-size: 15px !important;
}


/* body */
/* .container-fluid .body{
	background-image: url("/resources/img/home/main_back.png");
	background-size: contain; 
	background-position: bottom;
	background-repeat: no-repeat;
} */

.container-fluid .body .advSliderWrapper{
	overflow: hidden;
}

.container-fluid .body .advSlider{
	width: 2200px;
}

.advSliderWrapper .bx-wrapper{
	max-width: 100% !important;
}

.container-fluid .body .advSlider .advItemWrapper{
	height: 220px;
	margin-right: 20px;
	border: 1px solid black;
}

.container-fluid .body .boardTitleWrapper div{
	float:left;
}

.container-fluid .body .colScheduleWrapper .colScheduleItem .colScheduleDate{
	color: #0e4590;
	font-weight: bold;
}

/* leftMenu */
.container-fluid .body .leftMenu a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.container-fluid .body .leftMenu .list-group .list-group-item.active{
	background-color: #44587B !important;
}

.container-fluid .body .leftMenu .list-group .list-group-item.active a{
	color: #FFFFFF !important;
}

.container-fluid .body .leftMenu .list-group .list-group-item button{
	border: 0px none;
	background: transparent;
	color: black;
	width: 100%;
	height: 100%;
}

/* mainContents */
.container-fluid .body .subTitle{
	font-size: 30px;
	border-bottom: 1px solid #949494;
}

.container-fluid .body .noticeBoardWrapper {
	background: #F8F9FA;
	
}

.container-fluid .body .noticeItemWrapper a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.container-fluid .body .goBox a{
	width: 100%;
	height: 100%;
}

.container-fluid .body .goBox img{
	width: 100%;
	transition-duration: 0.5s;
}


.colScheduleDate{ color:#0e4590;margin-left:20px;font-weight:bold; margin-left:20px; }
.colScheduleTitle{ font-weight:bold; height:30px; border-bottom:1px dashed #c7c7c7;}


/* common board */
.container-fluid .body .bodyWrapper .boardTitle a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.container-fluid .body .searchWrapper .searchType, .container-fluid .body .searchWrapper .searchText{
	width: 100%;
	height: 100%;
}

.container-fluid .body .writerWrapper .title, .container-fluid .body .writerWrapper #summernote{
	width: 100%;
}

.headerWrapper{border-top:2px solid black; border-bottom:1px solid #c7c7c7; height:40px; padding-top:10px;}
.bodyWrapper{border-bottom :1px solid #c7c7c7;}
.bodyWrapper .row{border-bottom:1px solid #c7c7c7; height:40px; padding-top:10px; padding-bottom:10px;}

.writerWrapper{}
/* 댓글 */

.container-fluid .body .commentWrapper .inputComment{
	width: 100%;
	height: 100%;
}

.container-fluid .body .commentWrapper .btnInputComment{
	width: 50%;
	height: 50%;
	transform: translate(0, 50%);
}

.container-fluid .body .commentWrapper .realCommentsWriter{
	display: none;
}

/* footer */
.footer{background-color:#292f3c;}
.container-fluid .footer .footerItem{
	float: left;
	height:30px;
	border-right: 1px solid #949494;
	padding: 0px 10px;
	color :#696d76;
	margin-top : 10px;
}

.container-fluid .footer .footerItem:last-child{
	border-right: none;
}
.footerBox{margin-left:37%;}
.footerItem>a{font-size:15px; color: #696d76; }


/*스크롤 없애기  */
.box1 {
	overflow-y:scroll;
	height:700px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.box1::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}