<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

	<!-- 게시물 작성 -->
	<insert id="insert">
		insert into board values( board_seq.nextval, 
		(select code from board_division where title = #{boardType})
		, #{title}, #{contents}, #{writer}, sysdate)
		<selectKey keyProperty="seq" resultType="Integer">
			select board_seq.currval as seq from dual
		</selectKey>
	</insert>
	
	<!-- 파일첨부 -->
	<insert id="insertFile">
		insert into files_board values(files_board_seq.nextval, #{parent_code}, #{oriName}, #{savedName}, sysdate)
	</insert>
	
	<!-- 현재 게시판 게시물 갯수 -->
	<select id="articleCount" resultType="Integer">
		select count(*)
		from 
		<choose>
			<when test="type == 'notice'">
				board_notice 
				<if test="category != null">
					where category = #{category}
				</if>
			</when>
			<otherwise>
				board where division_code = (select code from board_division where title = #{type})
			</otherwise>
		</choose>
	</select>
	
	<!-- 현재 페이지당 게시물 목록 가져오기 -->
	<select id="getArticles" resultType="kh.spring.dto.BoardDTO">
		select * from 
			(
				select board.*, row_number() over( order by writeDate desc ) rn 
				from board 
				where division_code = (select code from board_division where title = #{boardType})
			)
			where rn between #{startNumByPage} and #{endNumByPage}
	</select>
	
	<select id="getNotices" resultType="kh.spring.dto.NoticeDTO">
		select * from
			(
				select board_notice.*, row_number() over( order by noti_writeDate desc ) rn
				from board_notice
			<if test="category != null">
				where category = #{category}
			</if>
			)
		where rn between #{startNumByPage} and #{endNumByPage}
			
	</select>
	
	<!-- 게시물 하나 seq로 가져오기 -->
	<select id="getArticle" resultType="kh.spring.dto.BoardDTO">
		select * from board where seq = #{seq}			
	</select>
	
	<select id="getNotice" resultType="kh.spring.dto.NoticeDTO">
		select * from board_notice where noti_seq = #{seq}
	</select>
	
	<!-- 게시물 첨부 파일 가져오기 -->
	<select id="getFiles" resultType="kh.spring.dto.FilesDTO">
		select * from files_board where parent_code = #{value} order by reg_date desc
	</select>
	
	<!-- 특정 첨부파일 가져오기 -->
	<select id="getSpecFile" resultType="kh.spring.dto.FilesDTO">
		select * from files_board where seq in
		<foreach item="i" collection="list" open="(" close=")" separator=",">
			#{i}
		</foreach>
	</select>
	
	<!-- 게시글 파일 삭제 -->
	<delete id="delSpecFile">
		delete from files_board where seq = #{seq}
	</delete>
	
	<!-- 게시물 수정 -->
	<update id="modifyArticle">
		update board 
		set title=#{bdto.title}, contents=#{bdto.contents} 
		where seq=#{bdto.seq} and division_code = (select code from board_division where title = #{boardType})
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteArticle">
		delete board where seq = #{seq} and division_code = (select code from board_division where title = #{boardType})
	</delete>
	
	<!-- 게시판 검색 -->
	<!-- 게시물 count -->
	<select id="articleSearchCount" resultType="Integer">
		select count(*) from 
		<choose>
			<when test="boardType == notice">
				board_notice where
				
			</when>
			<otherwise>
				board where
				division_code = (select code from board_division where title = #{boardType}) and
			</otherwise>
		</choose>
		
		<if test="searchType == 'title'">
			(title like
			<foreach collection="searchText" item="i" open="(" close=")" separator="or">
				'%'||#{i}||'%'
			</foreach>
			)
		</if>
		<if test="searchType == 'writer'">
			writer like '%'||#{searchText[0]}||'%' 
		</if>
	</select>
	<select id="boardSearch" resultType="kh.spring.dto.BoardDTO">
		select * 
		from (select board.*, row_number() over(order by writeDate desc) rn from board where 
		division_code = (select code from board_division where title = #{boardType})
		and
		<if test="searchType == 'title'">
			(title like
			<foreach collection="searchText" item="i" open="(" close=")" separator="or">
				'%'||#{i}||'%'
			</foreach>
			)
		</if>
		<if test="searchType == 'writer'">
			writer like '%'||#{searchText[0]}||'%' 
		</if>
		) where rn between #{startNumByPage} and #{endNumByPage}
	</select>
	
	
	<!-- 메인 홈페이지 홍보 게시글 10개 가져오기 -->
	<select id="mainPromote" resultType="kh.spring.dto.BoardDTO">
		select * 
		from (
		    select board.*, row_number() over( order by writedate desc ) rn 
		    from board where division_code = 4
		)
		where division_code = 4 and rn between 1 and 10
	</select>
	
	<!-- 메인 홈페이지 공지 게시글 10개 가져오기 -->
	<select id="mainNotice" resultType="kh.spring.dto.NoticeDTO">
		select * 
		from 
		    (
		        select board_notice.*, row_number() over( order by noti_writedate desc ) rn 
		        from board_notice 
		        where category=#{value}
		    )
		where rn between 1 and 10
	</select>
</mapper>