<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Common">

	<select id="getSubject" resultType="kh.spring.dto.SubjectDTO">
	select * from subject
	</select>
	<select id="getDepartment" resultType="kh.spring.dto.DepartmentDTO">
	select * from department
	</select>
	<select id="getIsu"  resultType="kh.spring.dto.IsuDTO">
	select * from isu
	</select>
	<select id="getCollege" resultType="kh.spring.dto.CollegeDTO">
	select * from college
	</select>
	<select id="getGradeCard" resultType="kh.spring.dto.GradeCardDTO">
	select * from gradecard
	</select>
	
	<select id="getColSche" resultType="kh.spring.dto.ColScheduleDTO">
		select * from
		(
			select col_schedule.*, row_number() over( order by sche_startdate asc ) rn
			from col_schedule
		)
		where rn between 1 and 10
	</select>
	
	
	
</mapper>