<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Info">

	<select id="login" resultType="Integer">
		select count(*) from users where
		id=#{id} and pw=#{pw}
	</select>
	
	<select id="getName" resultType="String">
		select name from users where id=#{id} and pw=#{pw}
	</select>
	
	<select id="getMajor" resultType="String">
		select dept_title from department where dept_code=(select deptcode from users where id=#{id} and pw=#{pw})
	</select>		
	
	
	
	
	
	
	
	
	
</mapper>