<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mail">

	<!-- 메일 작성 -->
	<insert id="sendMail">
		INSERT INTO MAIL VALUES(MAIL_SEQ.NEXTVAL,#{receiver},#{title},#{contents},SYSDATE, 0)
	</insert>
	
	<!-- 수신인 목록 -->
	<select id="getReceiverList" resultType="kh.spring.dto.StudentDTO">
		SELECT U.ID, NAME, COLCODE, DEPTCODE, C.COL_TITLE, D.DEPT_TITLE
			FROM USERS U, STUDENTS S, COLLEGE C, DEPARTMENT D
			WHERE U.ID=S.ID AND STD_STATUS NOT IN('졸업','퇴학') AND U.COLCODE=C.COL_CODE AND U.DEPTCODE=D.DEPT_CODE
		UNION
		SELECT U.ID, NAME, COLCODE, DEPTCODE, COL_TITLE, DEPT_TITLE
			FROM USERS U, PROFESSOR P, COLLEGE C, DEPARTMENT D
			WHERE U.ID=PRO_ID AND PRO_STATUS!='퇴직' AND U.COLCODE=C.COL_CODE AND U.DEPTCODE=D.DEPT_CODE
	</select>
	
	<!-- 수신인 이름 -->
	<select id="getReceiverName" resultType="kh.spring.dto.StudentDTO">
		SELECT ID, NAME FROM USERS
	</select>
	
	<!-- 발신메일함  목록 -->
	<select id="getOutBox" resultType="kh.spring.dto.MailDTO">
		SELECT * FROM MAIL ORDER BY RECEIVED_DATE DESC
	</select>

	<!-- 수신메일함 목록 -->
	<select id="getInBox" resultType="kh.spring.dto.MailDTO">
		SELECT * FROM MAIL WHERE RECEIVER=#{id} ORDER BY RECEIVED_DATE DESC
	</select>
	
	<!-- 읽음표시 -->
	<update id="updateReadStatus">
		UPDATE MAIL SET READ=1 WHERE MAIL_SEQ=#{mail_seq}
	</update>

</mapper>