<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Webhard">
	<select id="directories" resultType="kh.spring.dto.DirectoryDTO">
		select * from directory where userID = #{value} order by lv
	</select>
	
	<insert id="createFolder">
		insert into directory values( dir_seq.nextval, #{id}, #{dirName}, #{parentID},
		(select lv+1 from directory where dirID=#{parentID}) )
	</insert>
	
	<!-- 파일 정보 저장-->
	<insert id="saveFile">
		insert into cloud values( #{id}, #{parentID}, #{oriName}, #{savedName}, sysdate, #{size} )
	</insert>
	
	<!-- 폴더 파일 가져오기  -->
	<select id="getFiles" resultType="kh.spring.dto.CloudDTO">
		select * from cloud where cloud_id = #{id} and file_location = #{parentID}
	</select>
	
	<!-- 하위 폴더 가져오기 -->
	<select id="getFolder" resultType="kh.spring.dto.DirectoryDTO">
		select * from directory where userID = #{id} and  parentID = #{parentID}
	</select>
	
	<!-- 파일 정보 삭제 -->
	<delete id="delFile">
		delete from cloud where file_location = #{location} and file_savedname = #{name}
	</delete>
</mapper>