@charset "UTF-8";
 *{box-sizing: border-box; margin: 0px; padding: 0px;}
            div{}
            .container{}

            .container-fluid{padding: 0px;}
            .title{height: 100px;}
            .title>div{height: 100px;}
            .title>.row>div{border: 1px solid black;}
            .center{margin-top: 50px;}
            .login,.acaCal,.menu{border: 1px solid black; background-color:#f1f1f1;}
            
            #loginTitle, #acdmCalTitle{float: left; margin-left: 30px; margin-top: 30px;}
            #loginTitle_eng, #acdmCalTitle_eng{float: left; margin-left: 10px; margin-top: 38px;}
            #part{width: 85%; height: 50px; margin-top: 100px;margin-left: 33px}
            #loginStd, #loginPro, #loginAdmin{width: 33.3%; border: 1px solid black; height: 50px;float: left; text-align: center; line-height: 50px;cursor: pointer;}
             
            #loginID{width: 85%; height: 50px; border: 1px solid black;margin-top: 35px;margin-left: 33px}
            #loginPW{width: 85%; height: 50px; border: 1px solid black;margin-top: 10px;margin-left: 33px}
            #idTitle, #pwTitle{margin-left: 10px;margin-top: 10px; color: mediumblue; float: left; width: 5%}
            #idText, #pwText{margin-left: 20px;  width: 85%; height: 100%; border: none; background-color: transparent; }
            #rmbId{margin-left: 33px;font-size: 12px; margin-top: 5px;}
            #findIDPW{float: right;margin-top: -20px; font-size: 12px; margin-right: 45px;}
            #findID, #findPW{border: none; background-color: transparent;}
            #loginBtn{width: 85%; height: 50px; border: 1px solid black;margin-top: 35px;margin-left: 33px; text-align: center;line-height: 50px; color: white; background-color:#272727; cursor: pointer; margin-bottom: 100px}
            
            #scheBox{float: left;width: 45%;height: 500px;border: 1px solid black;}
            #acmdContainer{float: left;margin-left: 33px; width: 85%;margin-top: 30px; height: 350px}
            #acmdCalIcon{ width: 15%; height: 100%;float: left;}
            #acmdCalContents{ width: 85%; height: 100%;float: left;}
            #acmdCalPart{ width: 80%; height: 70px; margin-top: 10px; margin-left: 15px}
            #acmdCalDate{color:#555752;}
            
            .menu{}
            .row>.menuPart{ height: 103px;  cursor: pointer;border: 1px solid black;}
            .row>.menuPart a{ text-decoration: none; width: 100%; height: 100%;}
            
            
                <!--  로그인 css -->  
      	body{overflow-x:hidden;}
	
	.menuPart{background-color:#00236f; color:white; text-align:center; padding:20px;}
	.menuPart > a{color : white;}
	.menuPart:hover{background-color:#ee9300;}
	.login{border-style: solid; border-width: 1px 0px 1px 1px;/*상・우・하・좌*/  border-color:#c7c7c7;}
	.acaCal{border-style: solid; border-width: 1px 0px 1px 0px;/*상・우・하・좌*/  border-color:#c7c7c7; background-image:url('/resources/img/login_list_bg.jpg');}
	.menu{border : 0px solid #c7c7c7;}
	.part{background-color:#eeeeee; border:0px solid white;}
	#loginID ,#loginPW{border:0px solid white; background-color :#eeeeee;}
	.goSugang, .goHome, .goComunity, .goCalender, .goIntro{background-size: contain; ;background-position: center;background-repeat: no-repeat; height:80%;}
	.goSugang{background-image:url('/resources/img/info/semester.png');}
	.goHome{background-image:url('/resources/img/info/remote.png');}
	.goCalender{background-image:url('/resources/img/info/calendar.png');}
	.goComunity{background-image:url('/resources/img/info/personnum.png');}
	.goIntro{background-image:url('/resources/img/info/Intro.png');}
.newContainer{height : 100vh;
	width :100vw;
    background-image: url('/resources/img/login_bg.jpg'); 
    background-repeat : no-repeat;
    background-size : cover;}
    .newContainer2{background-color : #f1f1f1; height:100%;}
    .gachalogo{background-image:url('/resources/img/info/gachalogo.png'); background-size: contain; ;background-position: center;background-repeat: no-repeat;
    border:0px solid white;}
