@charset "UTF-8";

.row>* {
    padding-right: none;
    padding-left: none;
} .container{padding: none;}
           
            .topMenu,.my,.board,.subject,.timetable,.schedule,.footer{padding: 0px;border: 1px solid black;}
        
          	.row>.my{ height: 220px;float: left;}
            .row>.my>.name{width: 100px; margin-top: 15px; margin-left: 5px; font-weight: bold;}
            .row>.my>.major{width: 150px;margin-top: 10px; font-size: 12px;  margin-left: 5px; color: blue; }
            .row>.my>.mail{ margin-top: 20px; font-size: 12px;  margin-left: 5px; }
            .mail>.mail_notRead{width: 45%; float: left; }
            .mail>.mail_notReadNum{width: 45%; float: left;text-align: end;}
            .row>.my>.consultReqPart{ margin-top: 30px; font-size: 12px;  margin-left: 5px;}
            .consultReqPart>.consultReq{width: 45%; float: left; }
             .consultReqPart>.consultReqNum{width: 45%; float: left;  text-align: end;}
            
             .row>.board{height: 220px;float: left; }
            .tab_title{float: left; width: 80%; border: 1px solid black; cursor:pointer}
            .tab_title:hover{color:blue;}
            .tab_date{border: 1px solid black; text-align: end; color:gray;}
            
              	.row>.subject{height: 220px;overflow:scroll}
            .row>.subject>.subject_list>.subject_isu{float:left; width:40%;}
            .row>.subject>.subject_list>.subject_title{float:left; width:60%; }
            .row>.subject>.subject_list>.subject_score{font-size: 13px; color: gray;}
            
            .row>.timetable{height:440px;;overflow:scroll}
            .realtimetable{height:380px;}
            .row>.classtimetable>table>tr{}
            
            .schedule>.row{margin:0px;}
            .row>.calendar,.sche{border:1px solid black;height:220px;}
            
           
            
            .shortcutPart{border: 1px solid black; margin-top:10px; }
            .shortcut{height: 50px;}
            .toClassSche,.toBus,.toDomi,.toReportBoard,.toExAuth{border: 1px solid black;height:100px;}