@charset "UTF-8";
*{margine:none; padding:none;}
.row>* {
    padding-right: none;
    padding-left: none;
} .container{padding: none;}
       

           .newContainer2{background-color: #f1f1f1; height:100%; overflow-x:hidden;}
           .my,.board,.subject,.timetable,.schedule{padding: 0px;border:4px solid #f1f1f1;}
            #electAttend:hover{background-color:#063976; color:white;}
            #mainpage:hover{background-color:#063976; color:white;}
            #system:hover{background-color:#063976; color:white;}
            .timetable,.schedule{background-color:white;}
            .board{background-color: #e8e8e8;}
            .footer{background-color:#f8f9fa;}
            
            .top{height:70px;}
            .top>ul>li>a{color:black;}
            .top>ul>li>a:hover{color:blue;}
            .top>div>img{height: 75px;}
            .top>div>a{font-weight:bold;}
            .navbar{padding:0px;}
        
          	.row>.my{ height: 220px;float: left;background-color:white;}
            .row>.my>.name{width: 100px; margin-top: 15px; margin-left: 5px; font-weight: bold;}
            .row>.my>.major{width: 150px;margin-top: 10px; font-size: 12px;  margin-left: 5px; color: blue; }
            .row>.my>.mail{ margin-top: 20px; font-size: 12px;  margin-left: 5px; }
            .mail>.mail_notRead{width: 45%; float: left; }
            .mail>.mail_notReadNum{width: 45%; float: left;text-align: end;}
            .row>.my>.consultReqPart{ margin-top: 30px; font-size: 12px;  margin-left: 2px;}
            .consultReqPart>.consultReq{width: 45%; float: left; }
             .consultReqPart>.consultReqNum{width: 45%; float: left;  text-align: end;}
            
             .row>.board{height: 220px;float: left; }
            .tab_title_std,.tab_title_scholar,.tab_title_enter{float: left; width: 80%;  cursor:pointer; margin-left:10px; margin-top:3px; font-size:14px;}
            .tab_title:hover{color:blue;}
            .tab_date{ text-align: end; color:gray;margin-top:3px;font-size:14px; margin-right:15px;}
            .nav-tabs>li{font-weight:bold; font-size:15px;}
            .tab-content{background-color:white; height:172px; width:561px; padding-left:10px; padding-right:10px; padding-top:10px;}
            
            .row>.subject{height: 220px;overflow:scroll;background-color:#063976;}
            .row>.subject>.subject_list>.subject_isu{float:left; width:35%; color:white; font-size:14px; margin-left:5%; }
            .row>.subject>.subject_list>.subject_title{float:left; width:60%;color:white; font-size:14px;}
            .row>.subject>.subject_list>.subject_score{font-size: 13px; color: lightgray;font-size:13px; margin-bottom:10px; margin-left:5%; }
            
            .colSche_day, .colSche_title{margin-left:20px; font-size:13px;}
            .colSche_day{color:#0e4590; font-weight:bold;}
            
            .row>.timetable{height:440px;overflow:scroll;}
            .realtimetable{height:380px;}
            .realtimetable>.timeTable{width:100%; text-align:center; height:100%; border:1px solid #c7c7c7;}
            th{width:16%; background-color : darkgray; color:white;}
                       
            .schedule>.row{margin:0px;}
            .row>.calendar,.sche{height:220px;}
            .schedule>.row>.calendar>table{}
           .col-sm-6{padding-left:0px; padding-right:0px;}       
           #tbCalendarYM{font-weight:bold;}
           #weeks>td{background-color:darkgray; font-size:13px;}
           
            .shortcutPart{margin-top:10px;  background-color:#08274e;}
            .shortcutPart>.row>div{color:white;height:100px;}
            .shortcutPart>.row>div>.image{height:75px;}
             .shortcutPart>.row>div>.image>img{width:40px; height:40px; margin-left:60px; margin-top:15px;}
             .shortcutPart>.row>div>.text{height:30px; text-align:center;font-size:14px;}
            .shortcut{margin-left:10px; margin-top:10px; font-weight:bold; font-size:16px;}
            .toClassSche,.toReturnSchool,.toTestAndGrade,.toReportBoard,.toExAuth{cursor:pointer;}
            
            .footer>div{text-align:center}
            .footerText{font-size:12px;}
